<p>{{heroes | json}}</p>

<mat-card class="img-card">

  <mat-card-header>
    <mat-card-title>Nombre Del Heroe</mat-card-title>
    <mat-card-subtitle>Nombre real del Heroe</mat-card-subtitle>
  </mat-card-header>
  <img src="https://i.blogs.es/7d003c/haikyuu-/1366_521.jpeg" mat-card-image alt="">
  <mat-card-content>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore facere delectus amet obcaecati tenetur, molestias
    ad exercitationem sint deserunt cupiditate fugiat ullam repellat necessitatibus saepe repudiandae quam ab error
    eligendi?
  </mat-card-content>


  <mat-card-actions>
    <button mat-button color="warn">Editar</button>
    <button mat-button color="primary">Ver mas...</button>
  </mat-card-actions>
</mat-card>
